@import "../../../styles.scss";

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  position: relative;
  width: 100%;
  @media (max-width: 991px) {
    width: 100%;
  }
  .donut {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 0.3rem solid rgba($purple, 0.3);
    border-top-color: $purple;
    animation: 1.5s spin infinite linear;
  }
}

:host-context(.sidebar-icon-only) {
  .spinner-wrapper {
    width: calc(100% - #{$sidebar-width-icon} - 4rem);    
  }
}

:host-context(.sidebar-mini) {
  .spinner-wrapper {
    width: calc(100% - #{$sidebar-width-mini} - 4rem);    
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}