<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo">
        </div>
        <h4>هل أنت جديد هنا؟</h4>
        <h6 class="font-weight-light">.عملية التسجيل سهلة وبخطوات بسيطة فقط</h6>
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{error}}
          </div>
        <form  class="pt-3">
          <div class="form-group">
            <input type="text" [(ngModel)]="credentials.name" name="name" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="الاسم">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="credentials.phone" name="phone" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="رقم الهاتف">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="credentials.address" name="address" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="العنوان">
          </div>
          <div class="form-group">
            <select [(ngModel)]="credentials.gender" name="gender" class="form-control form-control-lg" id="exampleFormControlSelect2">
              <option>ذكر</option>
              <option>أنثى</option>
            </select>
          </div>
          <div class="form-group">
            <input [(ngModel)]="credentials.email" name="email" type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="البريد الالكتروني">
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="credentials.password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="كلمة المرور">
          </div>
          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="register()">              <div *ngIf="loading" class="spinner-wrapper">
                <div class="donut"></div>
              </div>
              <div *ngIf="!loading">
                تسجيل 
              </div></a>
          </div>
          <div class="text-center mt-4 font-weight-light">
            لديك حساب؟ <a routerLink="../login" class="text-primary">تسجيل الدخول</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>