<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <div class=" co text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="" target="_blank">turkystore</a>.جميع الحقوق محفوظة.</div>
      <div class=" cop text-muted text-center text-sm-left d-block d-sm-inline-block">+249 12 898 9919.<a href=""><span class="mdi mdi-facebook"></span></a>
        <a href="#"><span class="mdi mdi-twitter"></span></a>
        <a href=""><span class="mdi mdi-instagram"></span></a>
        <a href=""><span class="mdi mdi-youtube"></span></a>.</div>
      <div class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted <i class="mdi mdi-heart text-danger"></i></div>
    </div>
</footer>
