<footer class="footer">
   <div class="main-content">
      <div class="left box">
        <div class="content">
          <p>Using our website means you agreed our privacy policy ........................................................................................................................................................................</p>
          <div class="text-sm-left social">
            <a href=""><span class="mdi mdi-facebook"></span></a>
            <a href="#"><span class="mdi mdi-twitter"></span></a>
            <a href=""><span class="mdi mdi-instagram"></span></a>
            <a href=""><span class="mdi mdi-youtube"></span></a>
          </div>
        </div>
      </div>

      <div class="center box">
        <div class="content">
          <div class="float-sm-center phone">
            <span class="mdi mdi-phone"></span>
            <span class="text">+089-765432100</span>
          </div>

        </div>
      </div>

      <div class="right box">
        <div class="content">
          <div class="float-sm-left email">
            <span class="mdi mdi-email"></span>
            <span class="text">abc@example.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <div class=" cop text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="" target="_blank">turkiy-store</a>. All rights reserved.</div>
      <div class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></div>
    </div>
</footer>
